.game {
    height: min-content;
    width: min-content;
    padding: 50px;
    margin: 0px auto;

    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
}

.game__text {
    height: max-content;
    padding-bottom: 50px;

    font-size: 50px;
    font-weight: 200;

    grid-column: 1 / -1;
}

.game-appearance {
    animation-name: game-appearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes game-appearance {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
