.game {
    height: min-content;
    width: min-content;
    padding: 20px;

    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
}

.game__cell {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.062);
    background-color: rgb(255, 255, 255);

    transition-property: box-shadow background-color;
    transition-duration: 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game__cell p {
    color: white;
    font-size: 30px;
}

.game__cell-success {
    background-color: rgba(60, 233, 138, 0.767);
}

.game__cell-tac {
    box-shadow: 0px 0px 0px black;
    background-color: chocolate;
}

.game__cell-toe {
    box-shadow: 0px 0px 0px black;
    background-color: rgb(30, 153, 210);
}
